@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}
   
  p {
    line-height: 1.5;
  }
  body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
  }

  .navbar-text {
    font-size:40px;
  }
  
  body > img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%; 
    height: auto;   
  }

  @media (max-width: 768px) {
    body {
      font-size: 16px; 
    }
  
    
    img {
      width: 15em; 
      max-width: 100%; 
    }
  }

  header {
    width: 100%;
    height: 112px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }

  #logo {
    width: max(100px);
    height: max(100px);
    background-color: #000000;
    padding: 0.4rem;
  }
  
  h1 {
    color: #ffffffe5;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 150px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.3rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: whitesmoke;
    color: #000000;
    cursor: pointer;
  }

  li > a {
    color: inherit;
    text-decoration: none;
  }
  
  main {
    padding-top: 50px;
  }
  
  section {
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 600px;
  }
  
  h1,
  h2 {
    font-family: Verdana, Tahoma;
  }
  
  h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 20px;
    padding-top: 60px;
  }
  
  .left-align-image {
    float: left;
    margin-right: 10px; 
    width: 200px;
    height: 200px;
  }

  .biography-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
  }
  
  p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
    margin-bottom: 20px;
  }

 .center-image {
  display:block;
  margin: 0 auto;
  }
  
  .container {
    text-align: left;
  }
  
  footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
  }
  
  footer,
  footer a {
    color: #dfdfe2;
  }
  
  address {
    text-align: center;
    padding: 0.3em;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  

  .no-stretch-image {
    max-width: 100%; 
    width: auto;    
    height: auto;   
    max-width: 400px; 
  }
  
  @media (max-width: 768px) {
    .no-stretch-image {
      max-width: 100%; 
      max-height: 100%
    }
    .header-text {
      font-size: 12px; 
    }
  }

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; 
  padding: 10px; 
}


.nav-list li {
  padding: 0 10px; 
}


@media (max-width: 768px) {
  
  .navbar {
    overflow-x: hidden; 
  }
  .nav-list {
    flex-direction: column; 
    align-items: center; 
  }
  .nav-list li {
    padding: 10px 0; 
    text-align: center; 
    font-size: 12px;
  }
}


.image-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 20px; 
}

.image-with-text img {
  max-width: 100%; 
  height: auto; 
}

@media (max-width: 768px) {
  
  .image-with-text {
    margin-bottom: 10px; 
  }
  .image-with-text img {
    max-width: 80%; 
  }

  p {
    font-size:14px;
  }
}
